/* recipe styling */
figure img {
    margin: 0;
    height: 350px;
}

.recipe-description {
    padding: 20px;
    background: #fff;
    margin: 20px 0;
}

h1 {
    color: #cab122;
}

h2 {
    color: #555;
}

h3 {
    color:#1e1a42;
}